{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

{% if latest_question_list %}
   
        <form method="post">{% csrf_token %}
            <select name ="listTemas">
                {% for tema in listaTemas %}
                    <option value = "{{tema}}"> {{tema}} </option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
  
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% if request.user.is_authenticated %}
<a href="{% url 'add' %}"><h2>Insertar pregunta</h2></a> 
{% endif %}

{% endblock %}