<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="HADS18-villalobosConnectionString" connectionString="Data Source=tcp:hads18-villalobos.database.windows.net,1433;Initial Catalog=HADS18-villalobos;User ID=villalobos@hads18-villalobos;Password=G4py5BAi"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <customErrors mode ="Off"/>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
  <location path="Alumno.aspx">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
